<h2>Manage Clients</h2>

<% if @clients.any?() %>
  <ul>
    <% @clients.each() do |client| %>
      <li>Client: <%= client.name() %>, Stylist: <a href="/stylists/<%= client.stylist().id()%>"><%= client.stylist().name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>
    It looks like you don't have any clients!
  </p>
<% end %>
