<h2>Hair Salon Manager</h2>

<h3>Welcome Salon Owner!</h3>
<h3>You can:</h3>

<ul>
  <li><a href="/stylists">View, add, update and delete stylists</a></li>
  <li><a href="/clients">View, add, update and delete clients</a></li>
</ul>
