<h2>Hair Salon Manager</h2>
<br>
<h3>Welcome Salon Owner!</h3>
<p>
  You can:
  <ul>
    <li><a href="/stylists">View, add, update and delete stylists</a></li>
    <li><a href="/clients">View, add, update and delete clients</a></li>
    <li><a href="/stylists">Add clients to a stylist</a></li>
  </ul>
</p>
