<h2>Manage Stylists</h2>

<!-- READ -->
<% if @stylists.any?() %>
  <ul>
    <% @stylists.each() do |stylist| %>
      <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>
    It looks like you don't have any stylists!
  </p>
<% end %>

<!-- CREATE -->
<br>
<label for="add-stylist-form">Add a Stylist</label>
<form class="add-stylist-form" id="add-stylist-form" action="/stylists" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Add Stylist</button>
</form>

<!-- DELETE -->
<br>
<% if @stylists.any?() %>
  <label for="remove-stylist-form">Remove a Stylist</label>
  <form class="remove-stylist-form" id="remove-stylist-form" action="/stylists" method="post">
  <input type="hidden" name="_method" value="delete">
    <div class="form-group">
      <label for="stylist_select">Stylist</label>
      <select id="stylist_select" name="stylist_select" type="text" class="form-control">
        <% @stylists.each() do |stylist| %>
          <option value="<%= stylist.id() %>"><%= stylist.name() %></option>
        <% end %>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Remove Stylist</button>
  </form>
<% end %>

<br><br>
<a href="/" class="btn btn-success">Home</a>
